---
layout: main
---


<section class="exercises-overview">
<h1>Site content</h1>

<ul>
  <li>Weekly plans as <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Exercises as <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Other docs as <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li>Weekly plans, exercises and docs as <a href="{{site.baseurl}}/pdf">pdf files</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITS learning import XML</a></li>
</ul>

<h2>Links</h2>

<ul>
  <li>Hand-in group on <a href="https://gitlab.com/21a-itt1-embedded-exercises">gitlab</a></li>
  <li>Book <a href="https://esdhweb.ucl.dk/D21-1576704.pdf">List</a></li>
  <li>Raspberry Pi <a href="https://www.raspberrypi.org/documentation/computers/">documentation</a></li>
  <li>Raspberry Pi Pico <a href="https://www.raspberrypi.org/documentation/microcontrollers/">documentation</a></li>
  <li>Exercises <a href="https://gitlab.com/EAL-ITT/21a-itt1-embedded/-/tree/master/docs/fritzing">Fritzing files</a></li>
  <li>Sample code from Nikolaj Simonsen on <a href="https://gitlab.com/ucl-itt-embedded-systems">gitlab</a></li>
  <li>Youtube <a href="https://youtube.com/playlist?list=PLqssYcwJHAjRrS60EyV3SIrhqNlhdV0o5">playlist</a></li>
  <li>Raspberry Pi <a href="https://magpi.raspberrypi.org/books">supplementary literature</a></li>
  <li>Introduction <a href="https://docs.google.com/presentation/d/1S_lzi4-XgMbgsiiFJWTHBHfHXfvhJCC0y_7hKtD2re0/edit?usp=sharing">slides</a></li>
</ul>

</section>
